html,
body {
	margin: 0;
	padding: 0;
}

button.btn-settings {
  padding: 5px 10px;
  font-size: 1.1em;
  background-color: #337ab7;
  color: white;
}
button.btn-settings:active {
  color: white;
}
.modal {
	overflow: hidden;
	width: 100px;
}
.modal-dialog {
    margin-right: 0;
    margin-left: 0;
}
.modal-header {
  height:50px;
  padding: 20px;
  background-color:#18456b;
  color:white;
}
.modal-title {
  margin-top:-10px;
  font-size:20px;
}
.modal-header .close {
  margin-top:-10px;
  color:#fff;
}
.modal-body {
  color:#888;
  padding: 5px 35px 20px;
}
.modal-body h3 {
  text-align: center;
}
.modal-body p {
  padding-top:10px;
  font-size: 1.1em;
}

/* Style the settings list items */
.settings-list-item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

#menu {
	position: absolute;
	top: 80px;
	left: 30px;
}

#canvas-container {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
/*   height: 100vh; /* 100% of viewport height for vertical centering */ */
  background-color: "white"; /* Background color for the container */
}

/* #cartType{
	position: absolute;
	top: 80px;
	left: 120px;
} */


.box {
  position: absolute;
  top: 80px;
	left: 120px;
}

.box select {
  background-color: #0563af;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}